<!DOCTYPE html>
<html lang="en">
<!-- 
    user_id: userToken
    15     : eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNSxtaW5oLm5ndXllbkBzdWNjZXNzc29mdHdhcmUuZ2xvYmFsIiwiaXNzIjoiTmd1eWVuVHJvbmdNaW5oIiwiaWF0IjoxNjg1Njc3MTUzLCJleHAiOjE2ODYyODE5NTN9.yuts_cLRxaSMGSC-2If1d24-OfstThzaw7wVo7j7Imo
    16     : eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNixudHJvbmdtaW5oMjIxMkBnbWFpbC5jb20iLCJpc3MiOiJOZ3V5ZW5Ucm9uZ01pbmgiLCJpYXQiOjE2ODU2NzY5NTUsImV4cCI6MTY4NjI4MTc1NX0.Ytsw4YUYgUXsOdH59MGwm6BhQaJ6DZzIwKC_0gOrquI
    18     : eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxOCxzbS51c2VyNEB5b3BtYWlsLmNvbSIsImlzcyI6Ik5ndXllblRyb25nTWluaCIsImlhdCI6MTY4NTY3NzU0NywiZXhwIjoxNjg2MjgyMzQ3fQ.u-HJaKQDIlEcZyg_78Bngys9v0mKafEtf1Jp4Spf7Hg
-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- https://cdnjs.com/libraries/sockjs-client -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <!-- https://cdnjs.com/libraries/stomp.js/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <title>Chat room</title>
    <style>
        .msg {
            list-style-type: none;
            padding: 8px 0;
        }
    
        .send-time {
            color: grey;
            margin-right: 24px;
        }
    
        .sender-nickname {
            color: grey;
            display: block;
            margin-bottom: 4px;
        }
    </style>
    </head>

<body>
    <h2 id="fullname"></h2>
    <div>
        <input type="text" name="message" id="message">
        <button id="send" type="submit">Send</button>
    </div>

    <div>
        <h3>Messages:</h3>
        <ul id="message-box">

        </ul>
    </div>
    <script src="../scripts/globalfunc.js"></script>
    <script src="../scripts/api/user-api.js"></script>
    <script>
        async function authenticate() {
            const userToken = prompt("User token:");
            if (!userToken) {
                sessionStorage.setItem("userToken", "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxNixudHJvbmdtaW5oMjIxMkBnbWFpbC5jb20iLCJpc3MiOiJOZ3V5ZW5Ucm9uZ01pbmgiLCJpYXQiOjE2ODU2NzY5NTUsImV4cCI6MTY4NjI4MTc1NX0.Ytsw4YUYgUXsOdH59MGwm6BhQaJ6DZzIwKC_0gOrquI");
            } else {
                sessionStorage.setItem("userToken", userToken)
            }
            const userInfo = await getPersonalInfoAPI();
            console.log(userInfo);
            document.querySelector("#fullname")
                .innerHTML = `${userInfo.lastName} ${userInfo.firstName}`;
        }
        authenticate()
    </script>
    <script src="../scripts/api/message-api.js"></script>
    <script src="../scripts/message.js"></script>
</body>

</html>